p {
  margin: initial;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-height: 150px;
}

.goButton {
  display: flex;
  flex: 1;
  font-size: 30px;
  font-size: 8vmin;
  font-family: "Roboto Condensed";
  display: block;
}

.consoleContainer {
  display: flex;
  flex: 4;
  margin-left: 1rem;
  flex-direction: column;
  font-size: 30px;
  font-size: 3vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fff;

  p:first-child {
    background-color: #cfc;
  }

  p:last-child {
    display: none;
    background-color: #b8860b;
    color: #fff;
  }
}

.validTest {
  background-color: #cfc;
}

.unValidTest {
  background-color: #cc0000;
  color: #fff;
}
