.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;

  img {
    display: flex;
    object-fit: contain;
    max-height: 10rem;
    max-width: 10rem;
  }
}

.editor {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #333;
  flex: 2;
}
