.container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 50%;
  }

  h2 {
    margin: 50px;
    font-size: 50px;
    margin: 5vmin;
    font-size: 5vmin;
    text-align: center;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 8rem;
    font-size: 2rem;
  }
}
